.card {
  width: 700px;
  background-color: #180838;
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  gap: 60px;
  padding-top: 30px;
  padding-left: 45px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-radius: 20px;

  .time {
    p {
      margin-bottom: 25px;
      color: #1DD87E;
      font-weight: bold;
      font-size: 15px;
    }

    .time_info {
      display: flex;
      gap: 4px;

      >div {
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
          background-color: #1F0A48;
          padding: 10px;
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 10px;
          border-radius: 10px;
        }
      }
    }
  }

  .info {
    .price {
      margin-bottom: 17px;
      border: 2px solid #fff;
      border-radius: 50px;
      box-shadow: 0 0 10px #9D33B8;
      display: flex;
      justify-content: center;
      padding: 10px 0;
      font-weight: bold;
    }

    .weapon_info {
      margin-bottom: 17px;

      p {
        font-size: 20px;
        margin-bottom: 5px;
      }
    }

    .members {
      p {
        color: #DD7729;
      }
    }
  }

  .image {
    position: relative;

    img {
      position: absolute;
      bottom: -100px;
      width: 250px;
    }
  }
}