.winners {
  max-width: 1485px;
  margin: 0 auto;
  padding-top: 30px;
  button {
    width: 260px;
    background: rgb(180, 85, 10);
    background: linear-gradient(90deg, rgba(180, 85, 10, 1) 0%, rgba(222, 124, 47, 1) 100%);
    height: 50px;
    border-radius: 20px;
    font-size: 16px;
    position: relative;
    svg{
      position: absolute;
      width: 20px;
      height: 20px;
      top: 50%;
      transform: translateY(-50%);
      right: 30px;
    }
  }

  .container {
    max-width: 1360px;
    margin: 0 auto 0;
    display: flex;
    gap: 125px;
    
    .winner_users {
      display: flex;
      align-items: center;
      gap: 40px;
      background-image: url('../../../src//images/back-img-2.png');
      background-repeat: no-repeat;
      background-position: bottom right;
      padding-top: 100px;
      padding-bottom: 100px;
    }
    .contest{
      background-image: url('../../../src//images/back-img-1.png');
      background-repeat: no-repeat;
      background-position: top left;
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
}