.winners {
  max-width: 1485px;
  margin: 30px auto 0;

  button {
    width: 260px;
    background: rgb(180, 85, 10);
    background: linear-gradient(90deg, rgba(180, 85, 10, 1) 0%, rgba(222, 124, 47, 1) 100%);
    height: 50px;
    border-radius: 20px;
    font-size: 18px;
  }

  .container {
    max-width: 1360px;
    margin: 45px auto 0;
    display: flex;
    gap: 125px;
    .winner_users {
      display: flex;
      align-items: center;
      gap: 40px;
    }
  }
}