.info {
  display: flex;
  align-items: center;
  gap: 50px;
  // padding-top: 100px;

  .user_img {
    width: 160px;
    height: 160px;
    width: 205px;
    height: 205px;
    background-color: transparent;
    border: 2px solid #802E9A;
    border-radius: 50%;
    box-shadow: 0 0 20px #802E9A;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 160px;
      height: 160px;
      border-radius: 50%;

    }
  }

  .user_name {
    h1 {
      margin-bottom: 20px;
      font-size: 24px;
    }

    span {
      color: #EA782B;
      font-weight: bold;
    }

  }

  .user_cases,
  .user_active,
  .user_steam {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    padding-left: 50px;
    &::before{
      content: '';
      position: absolute;
      width: 1px;
      height: 55px;
      background-color: #4F4368;
      left: 0;
      top: 0;
    }
    .icon {
      border: 1px solid #fff;
      box-shadow: 0 0 10px #fff;
      border-radius: 50%;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;

      svg {
        width: 26px;
        height: 26px;
      }
    }

    div {
      p {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }
}