.card {
  width: 115px;
  height: 115px;
  position: relative;
  background-color: #331052;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    .about {
      opacity: 1;
      z-index: 100;
    }
  }

  .neonCircle {
    width: 65px;
    height: 65px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px #9D33B8;

    img {
      position: absolute;
      top: 20%;
      left: 20%;
      object-fit: cover;
    }
  }

  .about {
    position: absolute;
    bottom: -220px;
    border: 1px solid #9830B3;
    padding: 10px;
    background-color: #180838;
    border-radius: 20px;
    z-index: 100;
    opacity: 0;
    z-index: -1;
    transition: .5s;
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    >img {
      width: 100px;
    }
    p{
      padding-bottom: 10px;
    }
    .user_name {
      display: flex;
      justify-content: center;
      gap: 10px;
      border-top: 1px solid #442F6F;
      padding-top: 10px;
      img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }
    }
  }
}