.card {
  width: 115px;
  height: 115px;
  position: relative;
  background-color: #331052;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: rgb(54, 17, 85);
  background: linear-gradient(130deg, rgba(54, 17, 85, 1) 1%, rgba(25, 8, 57, 1) 50%, rgba(54, 17, 85, 1) 100%);

  &:nth-child(3), 
  &:nth-child(9),
  &:nth-child(11),
  &:nth-child(12) {
    background: rgb(23, 45, 96);
    background: linear-gradient(130deg, rgba(23, 45, 96, 1) 1%, rgba(25, 8, 57, 1) 50%, rgba(23, 45, 96, 1) 100%);

    .neonCircle {
      box-shadow: 0 0 10px #3396BE;
    }
  }

  &:nth-child(4), &:nth-child(10) {
    background: rgb(64, 20, 62);
    background: linear-gradient(130deg, rgba(64, 20, 62, 1) 1%, rgba(25, 8, 57, 1) 50%, rgba(64, 20, 62, 1) 100%);

    .neonCircle {
      box-shadow: 0 0 10px #C8405D;
    }
  }

  &:nth-child(7) {
    background: rgb(25, 45, 68);
    background: linear-gradient(130deg, rgba(25, 45, 68, 1) 1%, rgba(25, 8, 57, 1) 50%, rgba(25, 45, 68, 1) 100%);

    .neonCircle {
      box-shadow: 0 0 10px #1FDA83;
    }
  }

  &:nth-child(8) {
    background: rgb(80, 37, 48);
    background: linear-gradient(130deg, rgba(80, 37, 48, 1) 1%, rgba(25, 8, 57, 1) 50%, rgba(80, 37, 48, 1) 100%);

    .neonCircle {
      box-shadow: 0 0 10px #E9761B;
    }
  }

  &:hover {
    .about {
      opacity: 1;
      z-index: 100;
    }
  }

  .neonCircle {
    width: 65px;
    height: 65px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px #9D33B8;

    img {
      position: absolute;
      top: 20%;
      left: 20%;
      object-fit: cover;
    }
  }

  .about {
    position: absolute;
    bottom: -220px;
    border: 1px solid #9830B3;
    padding: 10px;
    background-color: #180838;
    border-radius: 20px;
    z-index: 100;
    opacity: 0;
    z-index: -1;
    transition: .5s;
    width: 165px;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;

    >svg {
      position: absolute;
      top: -18px;
      font-size: 20px;

      path {
        color: #9830B3;
      }
    }

    >img {
      width: 100px;
    }

    p {
      padding-bottom: 10px;
    }

    .user_name {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-top: 1px solid #442F6F;
      padding-top: 10px;

      p {
        padding: 0;
      }

      img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }
    }
  }
}