.profile {
  min-height: 100vh;
  background: url('../../images/dots-left.png') left no-repeat, url('../../images/dots-right.png') right no-repeat;
  width: 100%;
  padding-bottom: 100px;
  .container{
    max-width: 1260px;
    margin: 0 auto;
  }
}