.links_item {
  display: flex;
  gap: 10px;
  font-size: 14px;
  div {
    div {
      margin-top: 5px;
      svg {
        color: #7257A8;
        font-size: 15px;
        margin-right: 5px;
      }
    }
  }
}