.navbar {
  background: rgb(50, 22, 107);
  background: linear-gradient(90deg, rgba(50, 22, 107, 1) 0%, rgba(103, 33, 131, 1) 100%);

  .container {
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }

  .links {
    display: flex;
    gap: 30px;
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 30px;

    .balance,
    .auth {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      .icon {
        border: 1px solid #fff;
        box-shadow: 0 0 10px #fff;
        border-radius: 50%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          width: 26px;
          height: 26px;
        }
      }
    }

    .language {
      display: flex;
      align-items: center;
      gap: 10px;    
      cursor: pointer;
      img {
        width: 20px;
        height: 14px;

      }

      div {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
}