@font-face {
  font-family: 'Gilroy Medium';
  src: url('./fonts/Gilroy-Medium.ttf');
}

@font-face {
  font-family: 'Gilroy Regular';
  src: url('./fonts/Gilroy-Regular.ttf');
}

@font-face {
  font-family: 'Gilroy Bold';
  src: url('./fonts/Gilroy-Bold.ttf');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy', sans-serif;
  color: white;
  font-size: 14px;
}

body {
  background-color: #180838;
}

.App {
  background-color: #180838;
  min-height: 100vh;
}

button {
  border: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

input {
  outline: none;
  border: none;
}

h2 {
  font-size: 20px;
}